@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <title>Beck Diet Solution</title>
    </head>
    <body>
        <p>
            Place holder for the Beck Diet Solution website!
        </p>
    </body>
</html>