@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <title>Beck Diet Solution</title>
        <link href="~/Styles/global.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            Hunger Monitoring Chart
        </header>
    </body>
</html>