@{
    ViewBag.Title = "Index";
}

<html>
    <head>
        <title>Beck Diet Solution</title>
        <link href="~/Styles/global.css" rel="stylesheet" />
    </head>
    <body>
        <h1>
            Hunger Monitoring Chart
        </h1>
        <div id="chartContainer">
            <div id="chartRow1">
                <h2 class="chartContainerCol1">Time</h2>
                <h2 class="chartContainerCol2">How my stomach feels</h2>
                <h2 class="chartContainerCol3">Strength of hunger (0-10)</h2>
            </div>
        </div>
    </body>
</html>